# Ignore virtual environment
venv/

# Ignore environment variables file
.env
*.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore migrations folder (if you want to exclude migration history)
migrations/versions/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Node.js dependencies (if applicable for the frontend)
node_modules/

# Ignore build artifacts
*.log
*.sqlite3
*.db
.DS_Store
*.bak
*.swp
