/* src/styles/auth.css */
body.login-page {
  background: url('/login-background.jpg') no-repeat center center fixed;
  background-size: cover;
  min-width: 320px;
  position: relative;
  height: 100vh; /* Ensure the body takes full height */
}

.auth-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 0 auto; /* Center the container horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-container h2 {
  font-family: 'Georgia', serif;
  font-size: 3.5em;
  color: #ffcc00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0; /* Remove any margin */
  text-align: center;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.auth-container button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6); /* Shaded background similar to navbar */
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 1.2em;
  font-weight: 500;
  transition: background-color 0.3s;
  cursor: pointer;
  border: none;
  width: auto; /* Allow the button to have its own width */
  margin-top: 10px; /* Add some margin to the top */
}

.auth-container button:hover {
  background-color: #ffcc00;
  color: #000;
}

.auth-container button:focus,
.auth-container button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.auth-container .register-button {
  display: block; /* Ensure the button is a block element */
  margin: 10px auto 0; /* Center the button horizontally and add margin to the top */
  width: auto; /* Allow the button to have its own width */
  padding: 10px 20px; /* Add padding to the button */
  background-color: rgba(0, 0, 0, 0.6); /* Set the background color */
  color: white; /* Set the text color */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Change the cursor to pointer */
  font-size: 1em; /* Set the font size */
  font-weight: 500; /* Set the font weight */
  font-family: inherit; /* Inherit the font family */
  transition: background-color 0.25s; /* Add transition for background color */
}

.auth-container .register-button:hover {
  background-color: #ffcc00; /* Change the background color on hover */
  color: #000; /* Change the text color on hover */
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: #ffcc00; /* Change the color to match the title */
  margin-top: 10px;
}