html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: url('/home-house.jpg') no-repeat center center fixed;
  background-size: cover;
  min-width: 320px;
  position: relative;
}

.home-container {
  text-align: center;
  padding: 20px; /* Add some padding */
  max-width: 800px; /* Set a maximum width for the container */
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-title {
  font-family: 'Georgia', serif;
  font-size: 3.5em;
  color: #ffcc00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0; /* Remove any margin */
}

.home-subtitle {
  font-family: 'Verdana', sans-serif;
  font-size: 2em;
  color: #ffcc00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 8px;
}

.home-buttons {
  margin-top: 20px;
}

.home-button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6); /* Shaded background similar to navbar */
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 1.2em;
  font-weight: 500;
  transition: background-color 0.3s;
  cursor: pointer;
  border: none;
}

.home-button:hover {
  background-color: #ffcc00;
  color: #000;
}