/* src/styles/navbar.css */
.navbar-container {
  width: 100%;
  position: relative; /* Position at the top of the page */
  top: 0;
  z-index: 1000;
  padding: 0 20px; /* Add padding to the container */
  text-align: center; /* Center the navbar */
  box-sizing: border-box;
}

.navbar {
  display: inline-block; /* Center the navbar items */
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 5px;
}

.navbar-list {
  display: inline-block; /* Center the navbar items */
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline-block; /* Center the navbar items */
  margin: 0 15px;
}

.navbar-item a,
.navbar-item button {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6); /* Match the background color */
  border: none; /* Remove the border for the button */
  cursor: pointer; /* Change the cursor to pointer for the button */
}

.navbar-item a:hover,
.navbar-item button:hover {
  background-color: #ffcc00;
  color: #000;
}